@font-face {
  font-family: "LineIcons";
  src: url("/fonts/LineIcons.eot") format("embedded-opentype"), url("/fonts/LineIcons.woff2") format("woff2"), url("/fonts/LineIcons.woff") format("woff"), url("/fonts/LineIcons.ttf") format("truetype"), url("/fonts/LineIcons.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}
.lni{
  font-family: "LineIcons" !important;
}
